:root {
  --md-text-font: "LXGW WenKai Screen"; 
  --md-code-font: "CodeNewRoman Nerd Font Mono";
}

@font-face {
    font-family: 'LXGW WenKai Screen';
    src: url('../../assets/files/fonts/LXGWWenKaiScreen.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'CodeNewRoman Nerd Font Mono';
    src: url('../../assets/files/fonts/CodeNewRomanNFM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CodeNewRoman Nerd Font Mono';
    src: url('../../assets/files/fonts/CodeNewRomanNFM-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CodeNewRoman Nerd Font Mono';
    src: url('../../assets/files/fonts/CodeNewRomanNFM-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}